<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<head>
	<title>Ompun ja Ranen kauppa</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div class="text-center">
		<h1>Edit product</h1>
		<form th:object="${product}" th:action="@{/saveproduct}" action="#" method="post">
			<input type="hidden" th:field="*{id}" class="form-control" />
			<div>
				<label for="name">Name</label>
				<input type="text" id="name" th:field="*{name}">
				<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</div>
			</div>
			<div>
				<label for="size">Size</label>
				<select th:field="*{size}">
					<option th:each="size: ${sizes}" th:value="${size.id}"
						th:text="${size.clothingSize}"></option>
				</select>
			</div>
			<div>
				<label for="price">Price</label>
				<input type="text" id="price" th:field="*{price}">
				<div th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error</div>
			</div>
			<div>
				<label for="manufacturer">Manufacturer</label>
				<select th:field="*{manufacturer}">
					<option th:each="manufacturer: ${manufacturers}" th:value="${manufacturer.id}"
						th:text="${manufacturer.name}"></option>
				</select>
			</div>
			<a href="/listproducts"><input type="button" name="return-button" value="Back" />
				<input type="submit" value="Save" />
		</form>
	</div>
</body>

</html>