<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<head>
	<title>Ompun ja Ranen kauppa</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div>
		<a href="/" class="btn btn-success">Etusivu</a>
		<table class="table table-striped">
			<h1>Customers</h1>
			<thead>
				<tr>
					<th>Name</th>
					<th>Size</th>
					<th>Price</th>
					<th>Manufacturer</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="customer:${customers}">
					<td th:text="${customer.firstName}">
					<td th:text="${customer.lastName}">
					<td th:text="${customer.phone}">
					<td th:text="${customer.email}">
					<td><a th:href="@{/orderinfo/{id}(id=${customer.id})}" class="btn btn-primary">List orders</a></td>
				</tr>
			</tbody>
		</table>

	</div>
</body>

</html>