<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<head>
	<title>Ompun ja Ranen kauppa</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div>
		<a href="/" class="btn btn-success">Etusivu</a>
        <h1>Orders</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Order id</th>
                    <th>Product name</th>
                    <th>Product type</th>
                    <th>Product price</th>
					<th>Order status</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="orderinfo:${orderinfos}">
					<td th:text="${orderinfo.id}"></td>
                    <td th:text="${orderinfo.product.name}"></td>
                    <td th:text="${orderinfo.product.type.type}"></td>
                    <td th:text="${orderinfo.product.price}"></td>
					<td th:text="${orderinfo.orderstatus.orderstatus}">
				</tr>
			</tbody>
		</table>
		<a href="/listcustomers" class="btn btn-success">Back to customers</a>
	</div>
</body>

